@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

#app {

}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

#title {
  font-family: 'GFS Neohellenic', sans-serif;
  font-size: 6vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vh;
}

#subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2vh;
  padding: 1vh;
}

#viewpane {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  height: 90vh; /* scroll box exactly window height */
  /*scrollbar-width: none; /* hides scrollbar in Firefox */
  /*-ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
}

#viewpane::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    /* width: 0;*/
    /*height: 0;*/
}

#tabular {
  empty-cells: show;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

th {
  padding: 2vh;
  font-weight: 500;
  position: sticky;
  top: 0;
  background-color: white;
  font-family: "Teko";
}

td {
  padding: 2vh;
  border: 1px solid whitesmoke;
  font-weight: 100;
  font-family: "Wire One"
}
