@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#app {

}

#loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 10;
  position: relative;
}

#loadingMsg {
  position: fixed;
  top: 14vh;
  left: 50%;
  transform: translateX(-50%);
  color: dimgrey;
}

#loadingSubtitle {
  font-family: sans-serif;
  font-size: 3vh;
  text-align: center;
}

#loadingTitle {
  font-family: sans-serif;
  font-size: 6vh;
  text-align: center;
  margin: 0;
}

.loader {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  border: 20px solid gainsboro;
  border-radius: 50%;
  border-top: 20px solid rgba(0, 53, 107, .82);
  width: 10vw;
  height: 10vw;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#scrollers {
  position: fixed;
  left: 0;
  top: 45vh;
  padding-left: 2vh;
  width: 1px;
}

#scrollers button {
  margin-top: 1vh;
}

#rawModal {
  position: fixed;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  height: 82vh;
  border: 1px solid dimgrey;
  border-radius: 4px;
  background-color: whitesmoke;
  color: dimgrey;
  font-weight: 100;
  font-family: "Yantramanav";
  font-size: 2vh;
  padding: 4vh;
}

.rawCat {
  font-weight: 700;
}

.rawCatGhost {
  color: gainsboro;
  font-weight: 700;
}

.rawVal {
  color: #bd5139;
  margin-left: 1vw;
}

.rawCell {
  margin: 1vh;
}

#rawModalClose {
  position: sticky;
  top: 0;
  margin-bottom: 2vh;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: dimgrey;
}

#title {
  font-family: 'Staatliches', sans-serif;
  font-size: 6vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vh;
}

#subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2vh;
  padding: 1vh;
}

#viewpane {
  position: fixed;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  height: 88vh; /* scroll box exactly window height */
  /*scrollbar-width: none; /* hides scrollbar in Firefox */
  /*-ms-overflow-style: none;  /* hides in Internet Explorer 10+ */
}

#viewpane::-webkit-scrollbar { /* hides scrollbar in Safari + Chrome */
    /* width: 0;*/
    /*height: 0;*/
}

#tabular {
  empty-cells: show;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
  width: 90vw;
}

th {
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 2vh;
  position: sticky;
  top: 3vh;
  background-color: white;
  color: dimgrey;
}

.colLabel {
  position: sticky;
  top: 7vh;
}

.colLabel button {
  font-family: "Yantramanav";
  font-weight: 400;
  font-size: 1vw;
}

#countModal {
  position: fixed;
  font-weight: 100;
  font-family: "Yantramanav";
  color: white;
  background-color: rgba(0, 53, 107, .82);
  overflow-y: auto;
  padding: 1vh;
}

.countModalCt {
  font-weight: 900;
  margin-right: 1vw;
}

.countModalVal {

}

.countModalNull {
  font-style: italic;
}

.countCell {
  margin: 1vh;
}

#countModal .countsHeading {
  font-weight: 500;
  margin-bottom: 2vh;
  position: sticky;
  top: 0;
  background-color: white;
  color: rgba(0, 53, 107, .82);
}

#azSort {
  color: rgba(0, 53, 107, .82);
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1vh;
  padding: 0;
  margin-left: 0.5vh;
}

#azSort.active {
  background-color: rgba(0, 53, 107, .82);
  color: white;
}

#azSort:hover {
  border-color: rgba(0, 53, 107, .82);
}

.searchField {
  position: sticky;
  top: 0vh;
  width: 7vw;
}

td {
  padding: 1vh;
  border: 1px solid whitesmoke;
  font-weight: 100;
  font-family: "Yantramanav";
}

.datarow {
  color: black;
}

.datarow:hover {
  background-color: whitesmoke;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vh;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

}

button {
  border: 1px solid white;
  border-radius: 0.5vh;
  background-color: white;
  color: dimgrey;
  display: inline-block;
  padding: 1vh;
}

button.active {
  background-color: dimgrey;
  color: white;
}

button:hover {
  border-color: dimgrey;
}
